<div class="container">
      <div class="col-md-12">
        <form class="form-horizontal ">
          <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
              <input class="form-control" type="text" value="{{Theatre.City}}" ng-model="addtheatreCtrl.City" name="City" placeholder="CITY">
            </div>
            <div class="col-sm-3">
              <input class="form-control" type="text" value="{{Theatre.Location}}" ng-model="addtheatreCtrl.Location" name="Location" placeholder="LOCATION">
            </div>
            <div class="col-sm-3">
              <input class="form-control" type="text" value="{{Theatre.Theatre}}" ng-model="addtheatreCtrl.Theatre" name="Theatre" placeholder="THEATRE">
            </div>
            <div class=" col-sm-2">
              <button class="btn btn-info" type="button" name="button" ng-click="addtheatreCtrl.updateTheatre()">Update</button>
              <button class="btn btn-success" ng-click="addtheatreCtrl.addTheatre()" type="button" name="button" ng-disabled="addtheatreCtrl.addbuttondisable">Add</button>
            </div>
          </div>
        </form>
        <!-- Add Search option in above text-->
        <!-- after add alert box to confirm with edit and add option-->
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center col-sm-1">#</th>
              <th class="text-center col-sm-3">CITY</th>
              <th class="text-center col-sm-3">LOCATION</th>
              <th class="text-center col-sm-3">THEATRE</th>
              <th class="text-center col-sm-2">OPTION</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in addtheatreCtrl.TheatreDetails|filter: {'City' : addtheatreCtrl.City}|filter: {'Location' : addtheatreCtrl.Location}|filter:{'Theatre':addtheatreCtrl.Theatre}">
              <td class="text-center col-sm-1">{{$index+1}}</td>
              <td class="text-center col-sm-3">{{x.City}}</td>
              <td class="text-center col-sm-3">{{x.Location}}</td>
              <td class="text-center col-sm-3">{{x.Theatre}}</td>
              <td class="text-center col-sm-2">
                <button class="btn btn-sm btn-warning col-sm-5 col-sm-offset-1 text-center"type="button" name="Edit" ng-click="addtheatreCtrl.editTheatre(x)">Edit</button>
                <button class="btn btn-sm btn-danger col-sm-5 col-sm-offset-1 text-center"type="button" name="Edit" ng-click="addtheatreCtrl.deleteTheatre(x)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
